[submodule "SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "nlohmann_json"]
	path = vendor/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "FastNoise2"]
	path = vendor/FastNoise2
	url = https://github.com/Auburn/FastNoise2
